@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html[data-theme="dark"] {
  --background: #22272e;
  --foreground: #2d333b;
  --background-input: #f3f3f3;
  --text-color: rgb(187, 187, 187);
  --box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  --btn-background: #22272e;
  --menu-background: #22272e;
  --background-home-image: url("../assets/background1.png");
  --active-color: #22272e;
}

html[data-theme="light"] {
  --background: rgba(243, 243, 243, 0.938) !important;
  --foreground: rgba(255, 255, 255, 0.822);
  --background-input: #f3f3f3;
  --text-color: #22272e;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --btn-background: #f5f5f5;
  --menu-background: rgb(219, 248, 255);
  --background-home-image: url("../assets/background.png");
  --active-color: #e4f7ff;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: #f199ff;
  background-image: radial-gradient(
      at 65% 80%,
      hsla(66, 60%, 67%, 1) 0,
      transparent 57%
    ),
    radial-gradient(at 68% 61%, hsla(43, 64%, 62%, 1) 0, transparent 50%),
    radial-gradient(at 86% 59%, hsla(210, 81%, 79%, 1) 0, transparent 54%),
    radial-gradient(at 69% 36%, hsla(79, 70%, 64%, 1) 0, transparent 52%),
    radial-gradient(at 30% 29%, hsla(339, 98%, 75%, 1) 0, transparent 51%),
    radial-gradient(at 42% 10%, hsla(204, 80%, 70%, 1) 0, transparent 59%),
    radial-gradient(at 88% 56%, hsla(177, 70%, 61%, 1) 0, transparent 49%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6,
p,
label,
i {
  color: var(--text-color) !important;
  margin: 0 !important;
}

/*===>> NOT AUTHENTICATED <<===*/
.index-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--foreground);
}
.index-top-section {
  background-image: var(--background-home-image);
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
.index-container {
  max-width: 46rem;
  margin: 0px auto;
  position: relative;
}
.welcome {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}
.welcome-message {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
}
.welcome-sub-message {
  font-size: 24px;
  color: #dadadad7 !important;
  margin-top: 10px !important;
}
.apps-section {
  width: 70%;
  min-height: 34vh;
  font-size: 18px;
  text-align: center;
  margin-top: 60px !important;
  margin: 0px auto;
}
.index-footer {
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
.index-footer i {
  font-size: 30px;
  margin-right: 20px !important;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text-color);
}
.index-footer i:hover {
  color: #444444;
}
@media screen and (max-width: 768px) {
  .index-container {
    padding: 0 24px;
  }
  .welcome-message {
    font-size: 40px;
  }
  .apps-section { 
    width: 80%;
  }
  .index-footer {
    display: flex;
    justify-content: center;
  }
}
/*===>> END NOT AUTHENTICATED <<===*/
/*===>> SIDEBAR <<===*/
.wrapper {
  min-height: 100vh;
  background-color: var(--background);
  padding: 50px 0;
  margin-left: 250px;
}
.container {
  max-width: 46rem !important;
  margin: 0 auto !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--menu-background) !important;
}
.ant-layout-sider {
  background-color: var(--background) !important;
}
.ant-menu-item {
  height: 60px !important;
}
.sidebar-sider .ant-layout-sider-children {
  border-radius: 0 30px 30px 0!important;
}
.sidebar-sider .ant-layout-sider-children,
.sidebar-menu {
  background-color: var(--foreground) !important;
}
.sidebar-sider .ant-menu-item-selected::after {
  height: 25px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.sidebar-logo {
  width: auto;
  height: 65px;
  margin: 20px 0;
}
.sidebar-itemTitle {
  font-size: 16px;
  font-weight: 500;
  color: #80868a !important;
}
.sidebar-top {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 !important;
  flex: 1 1 !important;
  min-height: 55vh;
}
.sidebar-itemActive {
  color: #03A9F4 !important;
}
.sidebar-itemIcon {
  filter: grayscale(100%);
}
.mobile-drawer-header {
  padding: 0 16px;
  padding-top: 8px;
  background-color: var(--background);
}
.ant-drawer-body {
  padding: 0 !important;
}
@media screen and (max-width: 991px) {
  .wrapper {
    margin: 0;
  }
  .sidebar-top {
    min-height: initial;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
/*===>> END SIDEBAR <<===*/
/*===>> HOME <<===*/
.home-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 38.832px;
}
.home-spacing {
  padding: 16px 0;
}
.home-btn-wrapper img {
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-btn-wrapper:hover {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
.home-connect-evm img {
  background-color: #03a8f421;
}
.home-connect-evm p {
  font-weight: 500;
  color: #03a9f4 !important;
}
.home-create-wallet img {
  background-color: #fff8d6;
}
.home-create-wallet p {
  font-weight: 500;
  color: #f0c90a !important;
}
.home-restore-wallet img {
  background-color: #ffe1ee;
}
.home-restore-wallet p {
  color: #ed1576 !important;
}
.modal-select-account-item {
  background-color: var(--background);
  border: 2px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s all;
  padding: 14px 16px;
  margin: 8px 0;
}
.modal-select-account-item:hover {
  border-color: #03A9F4;
}
.modal-select-account-item p {
  font-weight: 500;
}
.modal-select-account-item-active {
  border-color: #03A9F4;
}
.wallet-username {
  text-overflow: ellipsis;   /* IE, Safari (WebKit) */
  overflow:hidden;           /* don't show excess chars */
  white-space:nowrap;        /* force single line */
  max-width: 80px;
}
/*===>> END HOME <<===*/
/*===>> WALLET <<===*/
.wallet-tabs {
  text-align: center;
  border-radius: 18px;
  transition: 0.3s all;
  padding: 10px;
  cursor: pointer;
}
.wallet-tabs-active {
  background-color: var(--active-color);
  font-weight: bold;
}
.receive-address-container {
  background-color: var(--background);
  padding: 16px;
  border-radius: 8px;
}
.receive-address {
  font-size: 16px;
  font-weight: 500;
  word-break: break-all;
}
/*===>> END WALLET <<===*/
/*===>> CREATE WALLET <<===*/
.each-mnemonic-word {
  background-color: #03A9F4;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px;
}
.each-mnemonic-word p {
  font-size: 16px;
  font-weight: 500;
  color: #F5F5F5 !important;
}
.create-wallet-step .ant-steps-item-title {
  color: var(--text-color) !important;
}
/*===>> END CREATE WALLET <<===*/
/*===>> RESTORE WALLET <<===*/
.restore-wallet-card {
  font-size: 16px;
  text-align: center;
  border-radius: 18px;
  border: 2px solid #03A9F4;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px 20px;
  margin: 16px;
  margin-bottom: 20px;
}
.restore-wallet-card-active {
  background-color: rgba(3,169,244, 0.1);
}
.restore-wallet-btnUpload {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #00a9f9 !important;
  border: 2px solid #00a9f9;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}
/*===>> END RESTORE WALLET <<===*/
/*===>> SETTING <<===*/
.setting__padding {
  width: 60%;
  margin: 0 auto;
}
.setting-social-media {
  margin-top: 20px;
  font-size: 26px;
}
.setting-social-media i {
  margin-right: 15px !important;
  color: var(--text-color);
}
/*===>> END SETTING <<===*/
/*===>> STAKING <<===*/
.staking-controller {
  border: 2px solid var(--text-color);
  border-radius: 8px;
  padding: 8px;
  transition: .5s all;
  cursor: pointer;
}
.staking-controller h3 {
  margin-top: 8px !important;
}
.staking-controller:hover {
  border-color: #03A9F4;
}
.staking-rewardOption {
  border: 2px solid var(--text-color);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: .5s all;
}
.staking-rewardOption:hover { 
  border-color: #03a9f4;
}
.staking-rewardOption:hover h3 {
  color: #03a9f4!important;
}
.staking-nominate {
  background-color: var(--background);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: all .5s;
  cursor: pointer;
  border: 1.6px solid transparent;
}
.staking-nominate:hover {
  border: 1.6px solid #03a9f4;
}
.staking-table {
  color: var(--text-color);
  width: 100%;
}
.staking-table th,
.staking-table td {
  padding: 0.45rem;
  word-break: break-all;
}
.staking-table tr td:first-child {
  width: 30%;
  font-weight: bold;
}
.staking-payee {
  height: 40px;
  border: 2px solid #03A9F4;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px 0;
}
.staking-payeeItem {
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  transition: .4s all;
}
.staking-bondUnbond {
  transition: all 0.5s;
  cursor: pointer;
}
.staking-bondUnbond:hover {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
/*===>> END STAKING <<===*/
/*===>> LOADING <<===*/
.connecting-node {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: #22272E;
}
/*===>> END LOADING <<===*/
