/* Layout */
.layout__logo {
  width: 120px;
  height: 52px;
  margin: 8px 0;
}
.layout__search {
  max-width: 340px;
  height: 40px;
  border: 0px;
  border: 1px solid #f3f3f3 !important;
  border-radius: 50px !important;
  background-color: #f3f3f3 !important;
}
.layout__search input {
  background-color: #f3f3f3 !important;
}
.layout__menu .anticon svg {
  fill: transparent;
}
/*** End Layout */
/* Button Connect */
.btn__connect {
  color: #fff !important;
  border: 0px !important;
  border-radius: 8px !important;
  background: linear-gradient(
    90deg,
    #00a9f9 -3.17%,
    #27c9ff 110.15%
  ) !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  padding: 0px 40px !important;
  font-weight: 600 !important;
}
/*** End Button Connect */
/* Connect */
.connect__container {
  max-width: 500px;
  margin: auto;
}
.connect__title {
  font-size: 26px;
  font-weight: 900;
  color: #03a9f4;
  margin-bottom: 24px;
}
.connect__wallet {
  cursor: pointer;
}
.connect__wallet :hover {
  opacity: 0.6;
}
.connect__wallet p {
  margin-top: 10px;
  font-weight: 700;
}
.create__wallet {
  margin-top: 50px;
  font-weight: 700;
}
.create__wallet p {
  margin-bottom: 10px;
}
/*** End Connect */
/* Buy */
.buy__title h2 {
  color: #03a9f4;
  font-size: 28px;
  font-weight: 900;
}
.buy__input {
  height: 50px;
  border: none !important;
  border-radius: 12px !important;
  background-color: #f5f5f5 !important;
  color: #3d525c !important;
  padding: 0px 20px !important;
}
.buy__input .ant-input {
  background: transparent;
}
.buy__button {
  width: 100%;
  height: 50px !important;
  border: none !important;
  border-radius: 50px !important;
  background-color: #03a9f4 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
/*** End Buy */
/* Profile */
.profile__selPrice,
.profile__estimateValue {
  font-weight: 500;
}
.profile__selPrice p:nth-child(1) {
  font-weight: 800;
}
/* End Profile */
.container {
  width: 65% !important;
  margin: 0px auto !important;
}
.app-layout {
  margin-top: 50px;
}
.ant-layout-header {
  padding: 0px !important;
  height: 72px !important;
  line-height: 72px !important;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__primary {
  box-shadow: none !important;
  border: 0px !important;
  border-radius: 50px !important;
  font-size: 16px !important;
  padding: 0px 50px !important;
  font-weight: 700 !important;
  height: 40px !important;
}
.buy__padding {
  padding: 30px 70px;
}
.ant-card {
  font-size: 16px !important;
}
.buy__form {
  margin: 30px 0px !important;
}

.how-it-works {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 15px;
}
.how-it-works-section {
  margin: 40px 0px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 12px;
  padding: 40px 70px;
}
.how-it-works-section {
}
.how-it-works-section ol {
  margin-left: 15px;
}
.how-it-works-section ol li div {
  margin-left: 5px;
}
