/* Layout */
.layout__logo {
  width: 120px;
  height: 52px;
  margin: 8px 0;
}
.layout__search {
  max-width: 340px;
  height: 40px;
  border: none!important;
  border-radius: 8px!important;
  background-color: #E0E7EB!important;
}
.layout__menu .anticon svg {
  fill: transparent;
}
/*** End Layout */
/* Button Connect */
.btn__connect {
  width: 220px!important;
  height: 40px!important;
  color: #03A9F4!important;
  border-color: #03A9F4!important;
  border-radius: 8px!important;
}
/*** End Button Connect */
/* Connect */
.connect__container {
  max-width: 500px;
  margin: auto;
}
.connect__title {
  font-size: 20px;
  font-weight: bold;
  color: #03A9F4;
  margin-bottom: 24px;
}
.connect__wallet {
  cursor: pointer;
}
.connect__wallet :hover {
  opacity: 0.6;
}
/*** End Connect */
/* Buy */
.buy__title h2 {
  color: #03A9F4;
  font-size: 28px;
  font-weight: 600;
}
.buy__input {
  height: 40px;
  border: none!important;
  border-radius: 8px!important;
  background-color: #E0E7EB!important;
  color: #3D525C!important;
}
.buy__input .ant-input {
  background: transparent;
}
.buy__button {
  width: 100%;
  height: 40px!important;
  border: none!important;
  border-radius: 8px!important;
  background-color: #03A9F4!important;
  color: #FFF!important;
}
/*** End Buy */