@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* Global Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html[data-theme="dark"] {
  --background: #22272e;
  --foreground: #2d333b;
  --background-input: #f3f3f3;
  --text-color: rgb(187, 187, 187);
  --box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
  --btn-background: #22272e;
  --menu-background: #22272e;
  --background-home-image: url("../assets/background1.png");
  --active-color: #22272e;
}

html[data-theme="light"] {
  --background: rgba(243, 243, 243, 0.938) !important;
  --foreground: rgba(255, 255, 255, 0.822);
  --background-input: #f3f3f3;
  --text-color: #22272e;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --btn-background: #f5f5f5;
  --menu-background: rgb(219, 248, 255);
  --background-home-image: url("../assets/background.png");
  --active-color: #e4f7ff;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: #f199ff;
  background-image: radial-gradient(
      at 65% 80%,
      hsla(66, 60%, 67%, 1) 0,
      transparent 57%
    ),
    radial-gradient(at 68% 61%, hsla(43, 64%, 62%, 1) 0, transparent 50%),
    radial-gradient(at 86% 59%, hsla(210, 81%, 79%, 1) 0, transparent 54%),
    radial-gradient(at 69% 36%, hsla(79, 70%, 64%, 1) 0, transparent 52%),
    radial-gradient(at 30% 29%, hsla(339, 98%, 75%, 1) 0, transparent 51%),
    radial-gradient(at 42% 10%, hsla(204, 80%, 70%, 1) 0, transparent 59%),
    radial-gradient(at 88% 56%, hsla(177, 70%, 61%, 1) 0, transparent 49%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
i,
svg {
  color: var(--text-color) !important;
  margin: 0 !important;
}

input,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  color: var(--text-color) !important;
  background-color: var(--background) !important;
  border: 1px solid var(--background) !important;
}
/* End Global */

/* Layout */
.ant-menu {
  font-size: 16px !important;
}
.ant-menu i {
  font-size: 22px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}
.ant-menu-inline > .ant-menu-item {
  height: 60px !important;
  line-height: 60px !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--menu-background) !important;
}
.ant-menu-title-content img {
  height: 35px !important;
  margin-right: 15px;
  filter: grayscale(100%);
}
.ant-menu-title-content:hover img {
  filter: grayscale(0%);
}
.ant-menu-item .active * {
  filter: grayscale(0%);
  color: #00a9f9 !important;
}
.ant-menu-item-selected::after {
  height: 25px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 20px !important;
}
.ant-menu-item span {
  font-weight: 500 !important;
  color: #80868a !important;
}
.ant-drawer-body {
  padding: 0 !important;
}
.layout__logo {
  height: 65px;
  margin: 20px 0;
}
.layout__search {
  max-width: 400px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px !important;
  background-color: #f3f3f3 !important;
  padding: 0px 20px !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px !important;
}
.layout__search input {
  background-color: #f3f3f3 !important;
  margin-left: 15px;
}
.layout__menu .anticon svg {
  fill: transparent;
}
/*** End Layout */
/* Button Connect */

.btn__connectContainer p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px !important;
}
.home-connect-evm img {
  background-color: #03a8f421;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-connect-evm p {
  color: #03a9f4 !important;
}
.home-connect-sel img {
  background-color: var(--background) !important;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-connect-sel p {
  color: var(--text-color) !important;
}

.home-create-wallet img {
  background-color: #fff8d6;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-create-wallet p {
  color: #f0c90a !important;
}

.home-restore-wallet img {
  background-color: #ffe1ee;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-restore-wallet p {
  color: #ed1576 !important;
}

.btn__connect {
  /* color: #fff !important; */
  border: none !important;
  /* border-radius: 8px !important; */
  background: linear-gradient(
    90deg,
    #00a9f9 -3.17%,
    #27c9ff 110.15%
  ) !important;
  box-shadow: none !important;
  /* border-radius: 50px !important; */
  /* padding: 10px !important; */
  /* font-weight: 600 !important; */
  height: 50px !important;
  width: 50px !important;
  /* line-height: 50px!important; */
}
.btn__connect img {
  margin-right: 15px;
}
.btn__connectSelendra {
  width: 50px !important;
  height: 50px !important;
  background-color: #ed1576 !important;
  border: none !important;
}
/*** End Button Connect */
/* Connect */
.connect__container {
  max-width: 500px;
  margin: auto;
}
.connect__title {
  font-size: 26px;
  font-weight: 900;
  color: #03a9f4;
  margin-bottom: 24px !important;
}
.connect__wallet {
  cursor: pointer;
}
.connect__wallet :hover {
  opacity: 0.6;
}
.connect__wallet p {
  margin-top: 10px !important;
  font-weight: 700;
}
.create__wallet {
  margin-top: 50px;
  font-weight: 700;
}
.create__wallet p {
  margin-bottom: 10px !important;
}
/*** End Connect */
/* Buy */
.buy__title h2 {
  color: #03a9f4;
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 20px !important;
}
.buy__title p {
  margin-bottom: 15px;
}
.buy__input {
  height: 50px;
  border-radius: 12px !important;
  background-color: #f5f5f5 !important;
  color: #3d525c !important;
  padding: 0px 20px !important;
}
.buy__inputSelect .ant-select-selector {
  /* height: 50px !important; */
  background-color: #f5f5f5 !important;
  border-radius: 12px !important;
  color: #3d525c !important;
  padding: 0px 20px !important;
}
.buy__input {
  background-color: var(--background) !important;
  border: 1px solid var(--background) !important;
  color: var(--text-color) !important;
}
.ant-input-number-lg input {
  padding-left: 0px !important;
  height: 48px !important;
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 50px !important;
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-placeholder,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector::after {
  line-height: 50px !important;
}
.buy__input .ant-input {
  background: transparent;
}
.buy__button {
  width: 100%;
  height: 50px !important;
  border-radius: 50px !important;
  background-color: #03a9f4 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  border: 0px !important;
}
.buy__btnConnect {
  width: 100%;
  height: 40px !important;
  border-radius: 50px !important;
  background-color: #03a9f4 !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
/*** End Buy */
/* Profile */
.profile-home {
  font-size: 22px;
  font-weight: 700;
  color: #80868a;
  margin-top: 50px !important;
  margin-bottom: 20px !important;
}
.profile__selPrice,
.profile__estimateValue {
  font-weight: 500;
}
.error-text {
  color: rgb(248, 89, 89);
}
.profile__selPrice p:nth-child(1) {
  font-weight: 800;
}
/* End Profile */
.container {
  width: 60% !important;
  margin: 0px auto !important;
}
.app-layout {
  margin-top: 50px;
}
.ant-layout-header {
  padding: 0 !important;
  height: auto !important;
  line-height: 72px !important;
  display: none;
}
.site-layout {
  margin-left: 250px;
}
.body-backgrond {
  /* backdrop-filter: blur(16px) saturate(180%); */
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: var(--background) !important;
  background-position: top !important;
  background-size: cover !important;
  min-height: 100vh !important;
}
.ant-layout {
  min-height: 90vh !important;
  /* background: var(--background) !important; */
  padding-bottom: 50px;
  background: transparent !important;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-btn {
  cursor: pointer;
}
.welcome-message {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
}
.btn__primary {
  box-shadow: none !important;
  border: 0px !important;
  border-radius: 50px !important;
  font-size: 16px !important;
  padding: 0px 50px !important;
  font-weight: 700 !important;
  height: 40px !important;
}
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  width: calc(100% + 0px) !important;
}
.btn-connectSelendra {
  width: 60px !important;
  height: 60px !important;
}
.buy__padding {
  width: 60%;
  margin: 0px auto;
  padding-top: 30px;
}
.ant-card {
  border-radius: 22px !important;
  font-size: 16px !important;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  background: var(--foreground) !important;
  backdrop-filter: blur(60px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(60px) saturate(180%) !important;
  border: 0px !important;
}
.buy__form {
  margin: 30px 0px !important;
}

.how-it-works {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 15px !important;
}
.how-it-works-section {
  margin: 40px 0px;
  font-size: 16px;
  border-radius: 20px;
  padding-bottom: 40px;
  background: var(--foreground) !important;
  backdrop-filter: blur(60px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(60px) saturate(180%) !important;
}
.ant-layout-sider-light {
  background: var(--foreground) !important;
  backdrop-filter: blur(60px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(60px) saturate(180%) !important;
  border-radius: 0px 30px 30px 0px !important;
}
.layout__menu {
  background: #ffffff00 !important;
}
.switch-asset {
  cursor: pointer;
}
.how-it-works-section {
  color: var(--text-color);
}
.how-it-works-section ol {
  margin-left: 15px;
}
.how-it-works-section ol li div {
  margin-left: 5px;
  margin-top: 10px;
}
.profile-desc {
  margin-top: 20px;
}
.sel-tab-sections {
  position: relative;
  height: 60px;
}
.sel-tabs {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px !important;
  list-style: none;
  display: flex;
  font-size: 16px !important;
}
.sel-tabs li {
  margin-right: 35px;
  height: 40px;
}
.sel-tabs .active {
  /* border-bottom: 2px solid #00a9f9; */
  color: #00a9f9 !important;
  font-weight: 700;
  position: relative;
}
.sel-tabs .active::after {
  content: "";
  border-bottom: 3px solid #00a9f9;
  width: 30px;
  display: block;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.sel-card .ant-card-body {
  /* background: linear-gradient(102.39deg, rgba(255, 255, 255, 0.1) 36.43%, rgba(255, 255, 255, 0) 146.59%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) linear-gradient(320.77deg, rgb(100, 90, 255) -40.33%, rgb(228, 12, 91) 41.3%, rgb(255, 76, 59) 114.21%) repeat scroll 0% 0%; */
  padding: 24px;
}
.user-id {
  font-weight: bold;
  color: #cfcfcf;
}
.select-token .ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
/* Bridge */
.from-chain-container {
  margin-bottom: 24px;
}
.from-chain-container p {
  margin-bottom: 8px !important;
}
.from-chain {
  border: 1px solid var(--background);
  background-color: var(--background);
  color: var(--text-color) !important;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.vertical-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--foreground);
}

.from-chain span {
  font-weight: 500;
  margin-left: 8px;
}
.welcome-sub-message {
  font-size: 24px;
  color: #dadadad7 !important;
  margin-top: 10px !important;
}
.home-navbar {
  background-image: var(--background-home-image);
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
.home-container {
  width: 50%;
  margin: 0px auto;
  position: relative;
}
.index-data {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}
/*.index-btn-section {
   display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: 40px;
}
*/

.index-btn {
  /* height: 60px; */
  /* line-height: 60px; */
  /* width: 100%; */
  /* margin-right: 30px; */
  padding: 12px 0;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.index-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.342) 0px 3px 24px;
}
.index-btn img {
  margin-right: 15px;
}
.con-wallet {
  background-color: #03a9f4;
  color: #fff;
}
.con-wallet-sel {
  background-color: #ed1576;
  color: #fff;
}
.create-wallet {
  background-color: #f0c90a;
  color: #1d3442;
}
.restore-wallet {
  background-color: #ed1576;
  color: #fff;
}
.apps-section {
  font-size: 18px;
  text-align: center;
  margin-top: 60px !important;
  width: 70%;
  margin: 0px auto;
}
.vertical-layout .apps-section {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 !important;
  flex: 1 1 !important;
  min-height: 34vh;
}
.apps-btn-section {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 50px;
}
.apps-btn {
  padding: 15px 0;

  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--background);
  color: var(--text-color);
}
.apps-btn img {
  margin-right: 10px;
}

.pos-relative {
  position: relative;
}

.index-footer {
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-footer i {
  font-size: 30px;
  margin-right: 20px !important;
  cursor: pointer;
  transition: 0.3s;
  color: var(--text-color);
}
.index-footer i:hover {
  color: #444444;
}
.bridge-select .ant-select-selector {
  background-color: #f5f5f5 !important;
  border-radius: 12px !important;
  color: #3d525c !important;
  padding: 0px 20px !important;
}
.footer-background {
  background-color: var(--foreground);
  padding: 15px 0px;
  margin-top: 50px;
}
.footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media-footer span {
  font-size: 16px !important;
  position: relative;
  top: -5px;
  margin-right: 20px;
  font-weight: bold;
  color: var(--text-color) !important;
}
.social-media-footer i {
  font-size: 28px;
  margin-right: 10px;
  margin-bottom: 0px !important;
  color: var(--text-color);
}
.top-left-navbar {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 !important;
  flex: 1 1 !important;
  min-height: 55vh;
}
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 550px;
}
.page-not-found h2 {
  color: #fff;
  font-size: 80px !important;
  font-weight: 700;
  margin-bottom: 0px !important;
  line-height: 80px !important;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.page-not-found p {
  font-size: 24px;
  width: 500px;
  margin-top: 30px !important;
}
.bridge__padding {
  width: 60%;
  margin: 0px auto;
}
.bridge__padding h1 {
  font-size: 30px !important;
  margin-bottom: 10px !important;
}

.bridge__padding p {
  font-size: 18px !important;
  width: 500px;
}
.from-chain-container .from-chain {
  margin-top: 15px !important;
}
.auction-radio .ant-radio-button-wrapper {
  width: 100px;
  text-align: center;
  border: none !important;
  border-radius: 50px !important;
  margin-right: 8px !important;
  margin-top: 8px;
  box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.01);
  padding: 0px 15px;
  background-color: var(--btn-background) !important;
}

.auction-radio .ant-radio-button-wrapper::before {
  background-color: transparent !important;
}

.auction-radio .ant-radio-button-wrapper-checked {
  color: #ffffff !important;
  background-color: #00a9f9 !important;
  font-weight: bold;
  box-shadow: none !important;
}
.auction-radio span {
  font-size: 14px !important;
}
.auction-radio img {
  margin-right: 5px;
}
.sel-card {
  background-color: var(--foreground);
  padding: 50px 0;
  border-radius: 20px;
  margin-top: 15px !important;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow) !important;
}
.setting__padding {
  width: 60%;
  margin: 0px auto;
}
.sel-card .ant-input-lg,
.sel-card .ant-form-item-control-input-content .ant-input-affix-wrapper,
.sel-card .ant-select-selector {
  line-height: 35px !important;
  border-radius: 10px !important;
}
.sel-card .ant-form-vertical .ant-form-item {
  margin-bottom: 5px !important;
}
.switch-mode span {
  position: relative;
  left: 10px;
  top: 2px;
  color: var(--text-color);
}
.sel-card .ant-input-lg,
.sel-card .ant-form-item-control-input-content .ant-input-affix-wrapper,
.sel-card .ant-select-selector {
  background: var(--background) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--background) !important;
}
.ant-form-item-label > label {
  color: var(--text-color) !important;
}
.sel-card h2 {
  margin-bottom: 20px !important;
}
.add-mainnet {
  background-color: #03a9f4;
  padding: 10px 40px;
  border-radius: 50px;
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.add-testnet {
  background-color: var(--foreground);
  padding: 10px 40px;
  border-radius: 50px;
  color: #00a9f9;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #00aaf967;
}
.metamask-section {
  display: flex;
}
.sel-card p {
  font-size: 16px !important;
}
.setting-social-media {
  margin-top: 20px;
  font-size: 26px;
}
.setting-social-media i {
  margin-right: 15px !important;
  color: var(--text-color);
}
.menu-disable * {
  cursor: not-allowed !important;
}
.wallet-background-card {
  background-color: var(--foreground);
  padding: 20px 40px;
  border-radius: 12px;
  margin-top: 40px;
}
.wallet-background-card .ant-row div p {
  margin-top: 10px !important;
}
.wallet-tabs {
  text-align: center;
  padding: 10px;
  border-radius: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.wallet-tabs p {
  font-size: 15px !important;
}
.wallet-tabs.active p {
  color: #00a9f9 !important;
}
.wallet-tabs-section .active {
  background-color: var(--active-color);
  font-weight: bold;
}
.wallet-tabs-section .wallet-tabs:hover {
  background-color: var(--background);
  color: #00a9f9 !important;
}
.wallet-price h1 {
  font-size: 30px !important;
  font-weight: bold;
}
.wallet-price span {
  font-size: 18px !important;
  font-weight: normal;
}
.wallet-price p {
  font-size: 20px !important;
  color: #b6b6b6 !important;
  line-height: 20px;
}
.wallet-price p:last-child {
  font-size: 16px !important;
}
.wallet-section {
  margin-top: 40px;
}
.wallet-section .ant-tabs-tab {
  font-size: 18px !important;
}
.wallet-section table {
  font-size: 16px !important;
  width: 100%;
  text-align: left !important;
  background-color: transparent !important;
}
.wallet-section .ant-table-thead > tr > th {
  background-color: transparent !important;
  border: 0px !important;
}
.wallet-section .ant-table-thead > tr > th::before {
  content: none !important;
}
.transactions-background {
  background-color: var(--foreground);
  padding: 40px !important;
  border-radius: 20px;
}
.transactions-background .ant-table,
.transactions-background table * {
  background-color: transparent !important;
  color: var(--text-color) !important;
}
.ant-tabs-tab {
  color: var(--text-color) !important;
}
.wallet-section .ant-table-tbody > tr > td {
  border-bottom: 0px !important;
}
.download-apps {
  border: 0px !important;
  background-color: #00a9f9 !important;
  height: 50px !important;
  line-height: 40px !important;
  width: 100% !important;
  border-radius: 12px !important;
  color: #fff !important;
  font-weight: bold !important;
}
.downlaod-apps-section {
  margin-top: 20px;
  padding: 10px !important;
}

@media screen and (max-width: 1500px) {
  .home-container {
    width: 60%;
  }
  .index-btn {
    padding: 7px 0;
    font-size: 16px;
  }
  .container {
    width: 70% !important;
  }
  .buy__padding,
  .bridge__padding,
  .setting__padding {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 80% !important;
  }
  .buy__padding,
  .bridge__padding,
  .setting__padding {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .ant-layout-header {
    display: block;
  }
  .ant-layout-sider {
    display: none;
  }
  .site-layout {
    margin-left: 0px;
  }
  .home-container {
    width: 70%;
  }
  .home-navbar {
    min-height: auto;
    padding-bottom: 100px;
  }
  .index-data {
    height: auto;
  }
  .buy__padding,
  .bridge__padding,
  .setting__padding {
    width: 85%;
  }
  .auction-radio .ant-radio-button-wrapper {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
  .home-container {
    width: 90%;
  }
  .index-data {
    height: auto;
  }
  .welcome-message {
    font-size: 35px;
  }
  .apps-section {
    width: 90%;
  }
  .apps-btn {
    padding: 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 95% !important;
  }
  .vertical-layout .apps-section {
    min-height: 40vh;
  }
  .index-footer {
    justify-content: center;
  }
  .wallet-background-card {
    padding: 20px;
  }
  .buy__padding,
  .bridge__padding,
  .setting__padding {
    width: 90%;
  }
  .bridge__padding p {
    width: auto;
  }
  .ant-card-body {
    padding: 15px;
  }
}

.send-modal .ant-modal-content {
  background-color: var(--background);
  border-radius: 8px!important;
}
.send-modal-title {
  color: var(--text-color);
}
.send-cancel {
  width: 100%;
  height: 40px!important;
  color: red!important;
  border-color: red!important;
  border-radius: 18px!important;
}
.send-cancel:hover {
  color: #FFF!important;
  background-color: red!important;
}
.send-transfer {
  width: 100%;
  height: 40px!important;
  color: #FFF!important;
  background-color: #03a9f4!important;
  border: none!important;
  border-radius: 18px!important;
}
.receive-address {
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;   /* IE, Safari (WebKit) */
  overflow:hidden;              /* don't show excess chars */
  white-space:nowrap;   
}