/* Global Styles */
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* End Global */